body{
    background-color: #d3d3d3; 
}
.div_b{
    background-color: white;
    height: 500px;
    width: 60vw;
    border: 10px dotted black;
    display: flex ;
    flex-direction: column;
    justify-content: center;
}
.div_c{
    background-color: yellow;
    height: 50px;
    width: 30%;

}
.div_d{
    background-color: rgb(242, 79, 0);
    height: 100px;
    width: 30%;
}
.div_e{
    background-color: rgb(0, 250, 0);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin: 50px 0px 0px 50px;
}


