.div1{
    background-color: red;
    width: 50px;
    height: 50px;
    border: solid green 2px;
    margin-top: 100px;
}
.div2{
    background-color: black;
    height: 50vh;
    width: 50%;
    border: dashed red 10px;
    margin: 100px 0px 0px 100px ;
}
/* A1) Tenha a cor de fundo vermelha;
A2) Tenha 50 pixels de altura e largura;
A3) Tenha uma borda sólida/contínua, de cor verde, com largura de 2 pixels;
A4) Tenha um espaçamento EXTERNO(margin) de 100 pixels no topo do elemento;
B1) Tenha a cor de fundo preta;
B2) Tenha a altura de metade da janela de exibição (viewport);
B3) Ocupe metade da largura do body.
B4) Tenha uma borda vermelha, com largura de 10 pixels, que seja tracejada (dashed);
B5) Tenha um espaçamento EXTERNO de 100 pixels na lateral esquerda, e no topo do elemento; */

